body {
    display: flex;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
    font-family: sans-serif;
}

#header {
    font-size: 64px;
}

.grid-container {
    display: grid;
    width: 640px;
    height: 640px;
    justify-content: center;
    border: 10px solid black;
}

.grid-item {
    background-color: brown;
}
.grid-item-hover {
    background-color: black;
}

#menu {
    margin-top: 30px;
}
.size-display {
    border: 5px solid black;
}
.slider {
    -webkit-appearance: none;
    background-color: gray;
    height:10px;
}
.resetButton {
    font-size: 24px;
}